**/bin/
**/obj/
.vs/
.idea/
.nuget/
.env
.env.*
**/appsettings.Local.json
*.user
*.suo
**/App_Data/
.artifacts/
/LegacyVault.sln

# Ignore appsettings secrets
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json
**/secrets.json
